<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head'); %>
        <link rel="stylesheet" type="text/css" href="/css/form.css" />
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <!--Book upload form-->
    <div class="container">
        <h1 class="display-4 text-center">Update bookk</h1>
        <%- include('./partials/bookupdate'); %>
    </div>
    <div class="footer pt-2 text-center">
        <%- include('./partials/footer'); %>
    </div>
    <script src='/js/form.js'></script>
</body>

</html>