<form class="mx-auto mt-3" action="/author/update" method="post" enctype="multipart/form-data">
    <div class="d-none form-group">
        <label for="exampleInputPassword1">ID</label>
        <input type="text" class="form-control" name="id" value="<%= author._id%>">
      </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" name="name" value="<%= author.name%>" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Country</label>
      <input type="text" class="form-control" name="country" value="<%= author.country%>" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Language</label>
      <input type="text" class="form-control" name="language" value="<%= author.language%>" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Title</label>
      <input type="text" class="form-control" name="title" value="<%= author.title%>" required>
    </div>
    <label for="formFileSm" class="mt-2 form-label">Image</label>
    <input name="uploaded_file" class="form-control form-control-sm" id="formFileSm" type="file" accept="image/*">
    <button type="submit" class="ml-3 mt-3 sbtn btn-primary">Update Author</button>
  </form>