<form class="mx-auto mt-3" action="/book/update" method="post" enctype="multipart/form-data">
    <div class="d-none form-group">
        <label for="exampleInputPassword1">ID</label>
        <input type="text" class="form-control" name="id" value="<%= book._id%>">
      </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" name="name" value="<%= book.name%>" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Author</label>
      <input type="text" class="form-control" name="author" value="<%= book.author%>" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Genre</label>
      <input type="text" class="form-control" name="genre" value="<%= book.genre%>" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">About</label>
      <input type="text" class="form-control" name="about" value="<%= book.about%>" required>
    </div>
    <label for="formFileSm" class="mt-2 form-label">Image</label>
    <input name="uploaded_file" class="form-control form-control-sm" id="formFileSm" type="file" accept="image/*">
    <button type="submit" class="ml-3 mt-3 sbtn btn-primary">Update Book</button>
  </form>