<div class=" d-flex justify-content-center align-items-center input-group  mt-5">
	<form method="POST" action="/login">
		<div class="justify-content-center">
			<span class="mt-3 input-group-text"><i class="fas fa-user"></i><a class="px-2 username"></a></span>
			<span>
				<input type="text" class="user form-control" name="username" placeholder="Username">
			</span>
			<span class="mt-3 input-group-text"><i class="fas fa-key"></i><a class="px-2 password"></a></span>
			<span>
				<input type="password" autocomplete="off" name="password" class="pwd form-control" placeholder="Password">
			</span>
			<button class="mt-3 btn btn-primary login" type="submit" value="Reset">
				<i class="fas fa-sign-in-alt"></i></button>
				<% if (typeof message != 'undefined') { %>
					<p class="h5"><%= message %></p>
				<% } %>
		</div>
	</form>

</div>