<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./head'); %>
</head>

<body>
    <header>
        <%- include('./header'); %>
    </header>
    <!--Author data-->
    <div class="card bg-dark text-light mx-auto mb-3 mt-3" style="max-width: 540px;">
        <div class="row g-0">
                <div class="col-md-4">
                    <img src="/img/author/<%= author.imageLink%>" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="fs-4 bg-secondary card-header text-center"><%= author.name%></div>
                    <div class="card-body">
                        <ul class="list-group list-group">
                            <li class="list-group-item">Language: <%=author.language%></li>
                            <li class="list-group-item">Country: <%=author.country%></li>
                            <li class="list-group-item">Major work: <%=author.title%></li>
                          </ul>
                          <p class="mt-2 list-group-item bg-success"><a href="/author/update/<%= author._id%>">Update</a></p>
                          <p class="list-group-item bg-danger"><a href="/author/delete/<%= author._id%>">Delete</a></p>
                    </div>
                </div>
        </div>
    </div>
    <div class="footer pt-2 text-center">
        <%- include('./footer'); %>
    </div>
</body>

</html>